.menuGrids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2em;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 250px;
  height: 400px;
  background-color: #164e63;

  border-radius: 1em;
  transition: transform 0.2s ease;

  .cardImage {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 1em 0 1em 0;
  }

  .cardHeader,
  .cardContent {
    width: 85%;
  }

  .cardHeader {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    justify-items: center;

    .cardPrice {
      margin-left: auto;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .addToCartButton {
    padding: 0.5em 1em;
    background-color: #1f2937;
    border-color: transparent;
    border-radius: 1em;
    transition: background-color, transform, 0.2s ease;
  }

  .addToCartButton:hover {
    background-color: #374151;
    transform: scale(1.02);
  }
}

.cardContainer:hover {
  transform: scale(1.02);
}
